<!doctype html>
<html>
<head>
<Title>Kyle's Playlist project: Top Artists Page</Title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style type="text/css"> </style>
    <link rel="icon" href="data:,"> <!-- Set empty link for favicon  -->
    <link rel="stylesheet" href="/general.css" type="text/css">
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <h1>Main Menu</h1>

    <a class="btn btn-default" id="top-artists-longterm-button" >Top Artists All Time</a>
    <a class="btn btn-default" id="top-artists-mediumterm-button" >Top Artists 6 Months</a>
    <a class="btn btn-default" id="top-artists-shortterm-button" >Top Artists 4 Weeks</a>

    <a class="btn btn-default" id="top-tracks-longterm-button">Top Tracks All Time</a>
    <a class="btn btn-default" id="top-tracks-mediumterm-button">Top Tracks 6 Months</a>
    <a class="btn btn-default" id="top-tracks-shortterm-button">Top Tracks 4 Weeks</a>

    <!-- <button onclick="window.location.href = '';">Link</button> -->


    <script type="text/javascript">
        var topArtistLong = document.getElementById("top-artists-longterm-button");
        var topTracksMed = document.getElementById("top-tracks-mediumterm-button");
        var topTracksLong = document.getElementById("top-tracks-longterm-button");

        
        const urlParams = new URLSearchParams(window.location.search);
        var access_token = urlParams.get('access_token');
        var refresh_token = urlParams.get('refresh_token');


        // topArtistLong.addEventListener('click', function(){
        //     console.log("Clicking the button")


        //     $.get("/playlistRenderPage?access_token="+access_token+"&refresh_token="+refresh_token+'&offset=0')

        // })
        document.getElementById("top-artists-longterm-button").href = "/userTopArtistRenderPage?access_token="+access_token+"&refresh_token="+refresh_token+"&offset=0&time_range=long_term"

        document.getElementById("top-artists-mediumterm-button").href = "/userTopArtistRenderPage?access_token="+access_token+"&refresh_token="+refresh_token+"&offset=0&time_range=medium_term"
        document.getElementById("top-artists-shortterm-button").href = "/userTopArtistRenderPage?access_token="+access_token+"&refresh_token="+refresh_token+"&offset=0&time_range=short_term"

        document.getElementById("top-tracks-longterm-button").href = "/userTopTracksRenderPage?access_token="+access_token+"&refresh_token="+refresh_token+"&offset=0&time_range=long_term"

        document.getElementById("top-tracks-mediumterm-button").href = "/userTopTracksRenderPage?access_token="+access_token+"&refresh_token="+refresh_token+"&offset=0&time_range=medium_term"

        document.getElementById("top-tracks-shortterm-button").href = "/userTopTracksRenderPage?access_token="+access_token+"&refresh_token="+refresh_token+"&offset=0&time_range=short_term"


        

    </script>
    

    
</body>

</html>