<!doctype html>
<html>
<head>
<Title>Kyle's Playlist project: Top Tracks Page</Title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style type="text/css"> </style>
  <link rel="icon" href="data:,"> <!-- Set empty link for favicon  -->
  <link rel="stylesheet" href="/general.css" type="text/css">
</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <h1>Top tracks Page</h1>
    <table id="top-Tracks-Table"></table>
    
    <div id="navigation-buttons-container">
      <button class="btn btn-default" id="prev-button"> Previous</button>
      <button class="btn btn-default" id="next-button"> Next</button>
    </div>

    <script type="text/javascript">
      const urlParams = new URLSearchParams(window.location.search);
      const myParam = urlParams.get('access_token');
      var access_token=myParam
      var refresh_token = urlParams.get('refresh_token');
      var offset = urlParams.get('offset');
      var time_range = urlParams.get('time_range');
      var addedEventListenersToButtons = 0;

      if (offset == undefined){
        offset = 0;
      }
      
      console.log('access_token');
      console.log(access_token);
      //console.log(parameters);
      // console.log(window.location)

      //hide the previous and next buttons will unhide them in the obtain top artist function
      $(document).ready(function(){
        //wait till document is ready before manipulating with jQuery
        
        $("#next-button").hide()
        $("#prev-button").hide()
      });


      function buildTopTracksTable(data){
        var count = 0;
        var table = document.createElement("Table");
        var offset = data.offset;
        
        var totalTopTracks = data.total;
        var topTracksArr = data.items;
        var topTracksArrLength = topTracksArr.length;
        var offset = data.offset;
        var next = data.next;
        var previous = data.previous;
        //variables below are set for each artist inside the loop
        var albumObj
        var albumImages
        var albumName 
        var artistObj
        var artistsArr
        var artistNames
        var available_markets
        var trackName
        var track_number
        var duration
         

        for (var i = 0; i<topTracksArrLength;i++){

          var row = table.insertRow();


          trackName = topTracksArr[i].name;



          var albumnImageCell = row.insertCell();
          var albumnElement = document.createElement("IMG");
      
          albumObj = topTracksArr[i].album;
          albumnElement.height = albumObj.images[1].height;
          albumnElement.width = albumObj.images[1].width;
          albumnElement.src = albumObj.images[1].url;
          albumnImageCell.style.padding = "25px"
          albumnImageCell.appendChild(albumnElement);



          var numberCell = row.insertCell();
          var numberString = i+1+offset;
          numberString = numberString+") "
          numberCell.innerHTML = numberString;
          numberCell.style.padding = "10px";



          albumName = albumObj.name

          var trackCell = row.insertCell();

          trackCell.innerHTML = trackName;




          var artistsCell = row.insertCell();
          artistObj = topTracksArr[i].artists
          artistNames = artistObj[0].name
          var artistNamesStr = ""
          //Todo loop through the array to concatenate all the artist names

          //artistsCell.innerHTML = artistNames
          for (var j = 0; j<artistObj.length;j++){
            if (j == artistObj.length-1 && artistObj.length > 1){
               artistNamesStr += "& "
            }

            artistNamesStr += artistObj[j].name;

            if (j < artistObj.length-1 && artistObj.length > 1){
              artistNamesStr += ", "
            }
          }

          artistsCell.innerHTML=artistNamesStr;

          artistsCell.style.padding = "10px";







          


          table.appendChild(row);
          
          


        }

        return table;

      }

      
      //hide the previous and next buttons on window load. Also request top track data from spotify on window load. 
      $(document).ready(function(){
        //wait till document is ready before manipulating with jQuery
        
        $("#next-button").hide()
        $("#prev-button").hide()
        

       var urlString = '/userTopTracks?access_token='+access_token+'&offset=0'+'&time_range='+time_range

        //Request data from spotify endpoint for top tracks
        $.ajax({
          
          url:urlString,
          headers: {
                  'Authorization': 'Bearer ' + access_token
                },
          json: true,
          success: function(data){
            if (data.total == 0){
              alert('No data available');
            }
            else{
              var tracksTable = buildTopTracksTable(data);
              
              var existingTableNode = document.getElementById("top-Tracks-Table").firstChild;
              if (existingTableNode != undefined || existingTableNode != null){

                document.getElementById("top-Tracks-Table").replaceChild(tracksTable,existingTableNode);

              }

              else {
                document.getElementById("top-Tracks-Table").appendChild(tracksTable);
              }

              if (data.next != null){
                $("#next-button").show()

              }


              
              offset = data.offset
              window.scrollTo(0, 0);
            }

          }
          

        });
      });

      var nextButton = document.getElementById("next-button");
      nextButton.addEventListener('click', function(result,status,xhr) {
        offset += 20
        var urlString = '/userTopTracksNext?access_token='+access_token+'&refresh_token='+refresh_token+'&offset='+offset+'&time_range='+time_range
        
        $.ajax({
          url:urlString,
          headers: {
            'Authorization': 'Bearer ' + access_token
          },
          json: true,
          success: function(data){
            console.log('Next button success');
            

              var nextTracksTable = buildTopTracksTable(data);
              
              var existingTableNode = document.getElementById("top-Tracks-Table").firstChild;
              document.getElementById("top-Tracks-Table").replaceChild(nextTracksTable,existingTableNode);

              //set offset so it is up to date
              offset = data.offset

              if (data.next == null){
                $("#next-button").hide()
              }
              if (data.previous != null){
                $("#prev-button").show()
              }

              window.scrollTo(0, 0);




          }
        })
      })

      var prevButton = document.getElementById("prev-button");
      prevButton.addEventListener('click', function(result,status,xhr) {
        
        offset -= 20
        var urlString = '/userTopTracksPrev?access_token='+access_token+'&refresh_token='+refresh_token+'&offset='+offset+'&time_range='+time_range
        
        $.ajax({
          url:urlString,
          headers: {
            'Authorization': 'Bearer ' + access_token
          },
          json: true,
          success: function(data){
           

              var previousTracksTable = buildTopTracksTable(data);
              
              var existingTableNode = document.getElementById("top-Tracks-Table").firstChild;
              document.getElementById("top-Tracks-Table").replaceChild(previousTracksTable,existingTableNode);

              //set offset so it is up to date
              offset = data.offset

              if (data.previous == null){
                $("#prev-button").hide()
              }
              if (data.next != null){
                $("#next-button").show()
              }

              window.scrollTo(0, 0);



          }
        })
      })




    </script>


</body>

</html>