/*style sheet for login page */
a {
  padding: 15px;
  font-family:"Helvetica";
  margin: 15px;
  
}

h1 {
    padding: 15px;
    font-family: :"Helvetica";

}

button {
    padding: 15px;
    font-family:"Helvetica";
    margin: 15px;
    background-color: #1DB954;
    color: white;
    border-radius: 12px;
}